@font-face {
    font-family:"MuseoSansCyrl-500";
	font-weight:500;
    src:url("fonts/MuseoSansCyrl-500.woff2") format("woff2"),
        url("fonts/MuseoSansCyrl-500.woff") format("woff");
}

@font-face {
    font-family:"pt-serif-700";
	font-weight:700;
	font-style:normal;
    src:url("fonts/pt-serif-700.woff2") format("woff2"),
        url("fonts/pt-serif-700.woff") format("woff");
}