  body {
	font-family: "MuseoSansCyrl-500";
	background-image: url("image/bg.jpg");
	max-width: 1920px;
  }

.content {
	margin: 4.4% 9.8%;
	margin-right: 0%;
}

. header {
	margin-right: 0%;
}

.header__inner {
	border: 2px solid brown;
	width: 93.7%;
	display: flex;
	justify-content: space-between;
}

.header__nav {
	border: 2px solid blue;
	width: 31.3%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-item {
    color: white;
    font-size: 22px;
    }
	
.nav-item:hover {
    color: green;
}  
  
a {
	text-decoration: none;
}  

.description {
	width: 100%;
	height: 84vh;
	display: flex;
	justify-content: space-between;
	margin: 0;
}

.desc {
	border: 2px solid red;
	color: white;
	width: 35%;
    display: flex;
    flex-direction: column;
	margin-bottom: 0;
}
 
.desc-bali {
	position: relative;
	margin: 0;
}
 
.desc__title {
	border: 2px solid pink;
	position: absolute;
	font-family: "pt-serif-700";
	color: rgba(255,255,255,0.5);
	font-size: 280px;
	margin: 0;
	height: 50%;
	width: 90%;
	padding-top: 20%;
}
 
.desc__subtitle {
	border: 2px solid black;
	font-family: "pt-serif-700";
	color: white;
	font-size: 98px;
	text-indent: 0.85em;
	padding-top: 58%;
	height: 22%;
	margin: 0;
}

.desc__text {
	border: 2px solid gold;
	font-size: 22px;
	width: 90%;
	padding-top: 2.8%;
	padding-left: 3.8%;
	margin: 0;
}
 
 .button {
  padding-left: 4%;
  padding-top: 5.8%;
 }
 
.desc__button {
  text-decoration: none;
  display: inline-block;
  padding: 17px 87px;
  border-radius: 48px;
  background: #D4BEA3;
  font-family: "MuseoSansCyrl-500";
  font-size: 22px;
  color: white;
  transition: .5s;
}

.desc__button:hover {
  transform: translateY(-5px);
}

 .gallery {
	border: 2px solid green;
	width: 50.5%;
	display: flex;
    justify-content: space-between;
	align-items: center;
}

.h1, .h2, .p {
	margin: 0;
}
