  body {
	font-family: "MuseoSansCyrl-500";
	background-image: url("image/bg.jpg");
	max-width: 1920px;
  }

.content {
	margin: 5.4% 12%;
	margin-right: 0%;
}

. header {
	margin-right: 0%;
}

.header__inner {
	border: 2px solid red;
	width: 116.5%;
	display: flex;
	justify-content: space-between;
}

.header__nav {
	border: 2px solid blue;
	width: 31%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-item {
    color: white;
    font-size: 22px;
    }
	
.nav-item:hover {
    color: green;
}  
  
a {
	text-decoration: none;
}  


.description {
	width: 125%;
	display: flex;
	justify-content: space-between;
}

.desc {
	border: 2px solid red;
	color: white;
	width: 50em;
    display: flex;
    flex-direction: column;
	padding-right: 10em;
	margin-bottom: 0;
}
 
.desc-bali {
	position: relative;
	margin: 0;
}
 
.desc__title {
	border: 2px solid pink;
	font-family: "pt-serif-700";
	color: rgba(255,255,255,0.5);
	font-size: 280px;
	padding-top: 0;
}
 
.desc__subtitle {
	border: 2px solid blue;
	position: absolute;
	font-family: "pt-serif-700";
	color: white;
	font-size: 98px;
	text-indent: 0.85em;
	padding-top: 3.315em;
	margin-bottom: 0;
	margin: 0;
}

.desc__text {
	border: 2px solid gold;
	position: absolute;
	font-size: 22px;
	line-height: 1.2em;
	padding-left: 1em;
	padding-top: 2.43em;
	margin-bottom: 0;
	padding-bottom: 0;
	width: 30em;
}
 
 .button {
  padding-left: 1.56em;
  padding-top: 0.8em;
 }
 
.desc__button {
  text-decoration: none;
  display: inline-block;
  padding: 17px 87px;
  border-radius: 48px;
  background: #D4BEA3;
  font-family: "MuseoSansCyrl-500";
  font-size: 22px;
  color: white;
  transition: .5s;
}

.desc__button:hover {
  transform: translateY(-5px);
}

 .gallery {
	border: 2px solid green;
	padding-top: 13.75%;
	width: 60%;
	display: flex;
    justify-content: space-between;
	align-items: center;
}

.h1, .h2 {
	margin: 0;
}