body {
	font-family: "MuseoSansCyrl-500";
	background-image: url("image/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    max-width: 1920px;
    min-width: 375px;
	margin: 0;
	height: 100vh;
}

.content {
	margin: 4.6% 0 0 10.4%;
}

.header {
	margin-right: 0%;
}

.header__inner {
	width: 93.2%;
	display: flex;
	justify-content: space-between;
}

.header__inner-left	{
	width: 147px;
	height: 56px;
}

.header__inner-left_logo {
	width: 100%;
	background-image: url(image/logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.burger-menu {
	display: none;
	cursor: pointer;
	width: 100%;
}
 
#menu__toggle {
  display: none;
}

#menu__toggle:checked ~ .burger-menu .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .burger-menu .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  background-color: black;
}

#menu__toggle:checked ~ .burger-menu .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: black;
}

#menu__toggle:checked ~ .header__nav {
  visibility: visible;
  left: 0;
}

.menu__btn {
  align-items: center;
  position: absolute;
  top: 10%;
  right: 9%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 3;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  transition-duration: .25s;
  z-index: 2;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.header__nav {
	color: white;
	width: 31.3%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-item {
    font-size: 22px;
	color: white;
    }
	
.nav-item:hover {
    color: green;
}  
  
a {
	text-decoration: none;
	color: white;
}  

.description {
	width: 100%;
	height: 84vh;
	display: flex;
	justify-content: space-between;
	margin: 0;
}

.desc {
	color: white;
	width: 36%;
	height: 76%;
    display: flex;
    flex-direction: column;
	margin-bottom: 0;
}
 
.desc-bali {
	position: relative;
	margin: 0;
}
 
.desc__title {
	position: absolute;
	font-family: "pt-serif-700";
	color: rgba(255,255,255,0.5);
	font-size: 280px;
	margin: 0;
	height: 70%;
	padding-top: 21%;
}
 
.desc__subtitle {
	font-family: "pt-serif-700";
	color: white;
	font-size: 98px;
	text-indent: 0.85em;
	padding-top: 58%;
	height: 23%;
	margin: 0;
}

.desc__text {
	font-size: 22px;
	width: 89%;
	padding-top: 2.99%;
	padding-left: 3.5%;
	margin: 0;
}
 
 .button {
  padding-left: 4%;
  padding-top: 6%;
 }
 
.desc__button {
  text-decoration: none;
  display: inline-block;
  padding: 17px 87px;
  border-radius: 48px;
  background: #D4BEA3;
  font-family: "MuseoSansCyrl-500";
  font-size: 22px;
  color: white;
  transition: transform .5s;
  cursor: pointer;
}

.desc__button:hover {
  transform: translateY(-5px);
}

.gallery {
	width: 51%;
	display: flex;
    justify-content: space-between;
	align-items: center;
	height: 420px;
	padding-top: 14.3%;
}

.gallery__pics {
	height: 420px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.gallery__pics_1 {
	width: 36%;
	background-image: url(image/pic1.jpg);
}

.gallery__pics_2 {
	width: 32.5%;
	background-image: url(image/pic2.jpg);
}

.gallery__pics_3 {
	width: 23.5%;
	background-image: url(image/pic3.jpg);
}

.h1, .h2 {
	margin: 0;
}

@media (max-width:1366px) {

.content {
	margin: 4.4% 0 0 10.5%;
}	
	
.header__inner-left {
	width: 105px;
	height: 40px;
}

.nav-item {
	font-size: 16px;
	color: white;
}
	
.desc__title {
	font-size: 200px;
	padding-top: 21%;
}
 
.desc__subtitle {
	font-size: 70px;
	text-indent: 0.83em;
	padding-top: 58.5%;
}

.desc__text {
	font-size: 16px;
}
 
.desc__button {
	padding: 11px 60px;
	border-radius: 42px;
	font-size: 16px;
}
		
.gallery {
	height: 304px;
}
	
@media (max-width:1024px) {
.content {
	margin: 6.2% 0 0 4%;
}

.header__inner {
	width: 96%;
}

.header__inner-left {
	width: 105px;
	height: 43px;
}

.header__nav {
	width: 37.9%;
}

.nav-item {
	font-size: 16px;
	color: white;
}

.desc {
	width: 45%;
}
 
.desc__title {
	font-size: 200px;
	margin: 0;
	padding-top: 20%;
}
 
.desc__subtitle {
	font-size: 70px;
	text-indent: 0.85em;
	padding-top: 57.5%;
}

.desc__text {
	font-size: 16px;
	width: 91%;
	padding-top: 3%;
	padding-left: 3.75%;
}
				
.desc__button {
	padding: 11px 60px;
	border-radius: 42px;
	font-size: 16px;
}
		
.gallery {
	height: 364px;
	width: 52%;
}
		
.gallery__pics {
	height: 353px;
}
		
.gallery__pics_1 {
	width: 44%;
}

.gallery__pics_2 {
	width: 39.5%;
}

.gallery__pics_3 {
	background-size: cover;
	width: 7.5%;
	height: 31vh;
}
}


@media (max-width:767px) {
.burger-menu {
	display: inline-block;
	visibility: visible;
}

.nav-item {
	display: block;
	padding: 12px 24px;
	color: black;
	text-align: center;
	font-family: "MuseoSansCyrl-500";
	text-transform: lowercase;
	font-size: 30px;
	text-decoration: none;
	transition-duration: .25s;
	z-index: 2;
}

.nav-item:hover {
	background-color: green;
}

.header__nav {
	display: block;
	position: fixed;
	align-items: center;
	visibility: visible;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 150px 0;
	list-style: none;
	background-color: white;
	transition-duration: .25s;
	z-index: 2;
}

.header__inner-left {
    height: 4px;
}

.header__inner-left_logo {
	width: 105px;
    height: 42px;
	margin: -6% 10%;
}

.description {
	height: 80vh;	
}

.desc {
	width: 46%;
	height: 75vh;
	padding-left: 25.5%;
}

.desc__title {
	font-size: 170px;
	height: 50%;
	width: 72%;
	padding-top: 32%;
	margin: -5%;
}
 
.desc__subtitle {
	font-size: 60px;
	text-indent: 0.75em;
	padding-top: 74%;
	height: 35%;
}

.desc__text {
	text-align: center;
	font-size: 18px;
	width: 91%;
    padding-top: 12%;
    padding-left: 3.5%;
}
 
.button {
    padding-left: 14%;
	padding-top: 12%;
}
  
.desc__button {
	padding: 11px 60px;
	font-size: 16px;
}

.gallery__pics {
	display: none;
}
}

@media (max-width:620px) {
.desc {
	width: 70%;
	height: 75vh;
	padding-left: 14.5%;
}

.header__inner-left_logo {
    width: 105px;
    height: 42px;
    margin: 11% 10%;
}

.desc__title {
	font-size: 170px;
	height: 50%;
	width: 72%;
    padding-top: 36.5%;
}
 
.desc__subtitle {
	font-size: 60px;
    text-indent: 0.7em;
    padding-top: 78.5%;
	height: 35%;
}

.desc__text {
	text-align: center;
	font-size: 18px;
    width: 90.5%;
    padding-top: 11.5%;
    padding-left: 2.5%;
}

.gallery__pics {
	display: none;
}
}

@media (max-width:479px) {
.burger-menu {
	display: inline-block;
	visibility: visible;
}

.nav-item {
  display: block;
  padding: 12px 24px;
  color: black;
  text-align: center;
  font-family: "MuseoSansCyrl-500";
  text-transform: lowercase;
  font-size: 30px;
  text-decoration: none;
  transition-duration: .25s;
  z-index: 2;
}

.nav-item:hover {
  background-color: green;
}

.header__nav {
  display: block;
  position: fixed;
  align-items: center;
  visibility: visible;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 150px 0;
  list-style: none;
  background-color: white;
  transition-duration: .25s;
  z-index: 1;
}

.header__inner-left_logo {
	width: 145px;
    height: 40px;
	margin: 12% 21%;
}

.menu__btn {
  align-items: center;
  position: absolute;
  top: 9.5%;
  right: 11%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 3;
}

.description {
	height: 80vh;
}

.desc {
	width: 100%;
	height: 80vh;
}

.desc__title {
	padding-top: 34.5%;
	padding-left: 4%;
}
 
.desc__subtitle {
	font-size: 60px;
	text-indent: 0.93em;
	padding-top: 74.5%;
	height: 35%;
}

.desc__text {
	text-align: center;
	font-size: 18px;
	width: 86%;
	padding-top: 11%;
	padding-left: 7%;
}
 
.button {
	padding-left: 18%;
	padding-top: 11%;
}

.desc__button {
	padding: 11px 60px;
	font-size: 16px;
}

.gallery__pics {
	display: none;
}
}


@media (max-width:405px) {
.burger-menu {
	display: inline-block;
	visibility: visible;
}

.nav-item {
  display: block;
  padding: 12px 24px;
  color: black;
  text-align: center;
  font-family: "MuseoSansCyrl-500";
  text-transform: lowercase;
  font-size: 30px;
  text-decoration: none;
  transition-duration: .25s;
  z-index: 2;
}

.nav-item:hover {
  background-color: green;
}

.header__nav {
  display: block;
  position: fixed;
  align-items: center;
  visibility: visible;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 150px 0;
  list-style: none;
  background-color: white;
  transition-duration: .25s;
  z-index: 1;
}

.header__inner-left_logo {
	width: 145px;
    height: 40px;
	margin: 17% 25%;
}

.menu__btn {
  align-items: center;
  position: absolute;
  top: 9.5%;
  right: 11%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 3;
}

.description {
	height: 80vh;
}

.desc {
	width: 100%;
	height: 80vh;
}

.desc__title {
	padding-top: 36.5%;
	padding-left: 5%;
}
 
.desc__subtitle {
	font-size: 60px;
	text-indent: 0.99em;
	padding-top: 75.5%;
	height: 35%;
}

.desc__text {
	text-align: center;
	font-size: 18px;
	width: 86%;
	padding-top: 11%;
	padding-left: 7%;
}
 
.button {
	padding-left: 18%;
	padding-top: 11%;
}

.desc__button {
	padding: 11px 60px;
	font-size: 16px;
}

.gallery__pics {
	display: none;
}
}
	
@media (max-width:375px) {
body {
	height: 97vh;
}		

.content {
    margin: 6.2% 0 0 -12%;
}

.burger-menu {
	display: inline-block;
	visibility: visible;
}

.nav-item {
  display: block;
  padding: 12px 24px;
  color: black;
  text-align: center;
  font-family: "MuseoSansCyrl-500";
  text-transform: lowercase;
  font-size: 30px;
  text-decoration: none;
  transition-duration: .25s;
  z-index: 2;
}

.nav-item:hover {
  background-color: green;
}

.header__nav {
  display: block;
  position: fixed;
  align-items: center;
  visibility: visible;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 150px 0;
  list-style: none;
  background-color: white;
  transition-duration: .25s;
  z-index: 1;
}

.header__inner-left_logo {
	width: 145px;
    height: 40px;
	margin: 17% 82%;
}

.menu__btn {
  align-items: center;
  position: fixed;
  top: 9.5%;
  right: 8.5%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 3;
}

.description {
	height: 80vh;
}

.desc {
	width: 100%;
	height: 80vh;
}

.desc__title {
	padding-top: 36.5%;
	padding-left: 5%;
}
 
.desc__subtitle {
	font-size: 60px;
	text-indent: 1em;
	padding-top: 75.5%;
	height: 35%;
}

.desc__text {
	text-align: center;
	font-size: 18px;
	width: 86%;
	padding-top: 11%;
	padding-left: 7%;
}
 
.button {
	padding-left: 17%;
	padding-top: 10%;
}

.desc__button {
	padding: 11px 60px;
	font-size: 16px;
}

.gallery__pics {
	display: none;
}
}